@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

:root {
  --color-background: #333;
  --dodger-blue: #4285f4;
}

* {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.mdl-color-text--white a {
  color: white;
}

section {
  padding: 100px 0 100px 0;
  color: white;
}

section h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
}

section p {
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  text-align: justify;
}

.mdl-layout__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.mdl-layout__header {
  background-image: url(images/space-landscape.png);
  background-size: cover;
  padding: 60px 80px 0 80px;
  overflow: hidden;
  box-shadow: none;
}

.mdl-layout__header-row {
  padding: 0;
  height: auto;
}

.mdl-layout__content {
  width: 100%;
}

.mdl-mini-footer {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 80px 20px 80px;
  font-size: 18px;
}

.mdl-mini-footer .mdl-logo {
  line-height: normal;
}

.mdl-textfield__input {
  border-color: #ccc;
}

.mdl-textfield__label {
  color: #999;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container-wide {
  width: 1200px;
}

.outlined {
  border: 1px solid;
}

.outlined:hover {
  background-color: white;
  color: black;
}

.accent {
  font-weight: 500;
}

.filled-accent {
  background-color: #4285f4;
  color: white;
}

button.filled-accent:hover {
  background-color: #4285f4;
}

.mdl-layout__header-row .mdl-navigation {
  height: auto;
}

.mdl-navigation__link.mdl-button {
  line-height: normal;
  font-weight: 500;
}

.mdl-navigation__link.mdl-button:not(:last-child) {
  margin-right: 20px;
}

header h1 {
  font-size: 54px;
  line-height: 72px;
  letter-spacing: 5px;
  font-weight: bold;
  /* font-family: Roboto; */
  text-transform: uppercase;
}

header img {
  object-fit: contain;
}

.header-overlay {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 140px;
}

.header-caption {
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-caption .accent {
  color: var(--dodger-blue);
}

.demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.demo span {
  font-size: 18px;
}

.demo button {
  text-transform: uppercase;
}

header::after {
  content: "";
  width: 120%;
  height: 80px;
  margin-bottom: -40px;
  margin-left: -10%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: var(--color-background);
}

#concept .parallax {
  background-image: url(images/dashboard_page_empty.png);
  background-size: contain;
  position: relative;
  margin-top: 40px;
}

#concept .parallax-hidden {
  visibility: hidden;
  width: 100%;
}

#concept .parallax-overlay {
  position: absolute;
  top: 5.8%;
  right: 0;
  bottom: 0;
  left: 12.5%;
  padding: 1%;
  overflow-y: hidden;
}

#concept .parallax-layer {
  width: 100%;
}

#concept h2 {
  margin-top: 100px;
  margin-bottom: 60px;
}

#review {
  background-color: var(--dodger-blue);
}

#review h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .2);
  font-size: 30px;
  font-weight: 500;
}

#review blockquote {
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
}

#review blockquote p {
  font-size: 30px;
  line-height: 58px;
  font-style: normal;
  text-align: center;
}

#review blockquote::before {
  font-size: 12em;
  color: rgba(0, 0, 0, .2);
  line-height: 0.8em;
  left: -.75em;
}

#review blockquote::after {
  font-size: 12em;
  color: rgba(0, 0, 0, .2);
  line-height: 0.8em;
  position: absolute;
  margin: 0;
  top: 0;
  right: -.45em;
}

#review .author {
  width: 500px;
  display: inline-block;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: normal;
  font-size: 16px;
}

#review .author .name {
  display: block;
}

#tech {
  padding-bottom: 40px;
}

#tech p {
  margin-bottom: 0;
}

#tech h2 {
  margin-bottom: 60px;
}

#tech .container>div {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

#tech .container>div>div {
  width: 110px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
}

#tech .es-6 {
  background-image: url(images/es-6-normal.svg);
}

#tech .jquery {
  background-image: url(images/jquery-normal.svg);
}

#tech .mdl {
  background-image: url(images/getmdl-normal.svg);
}

#tech .sass {
  background-image: url(images/sass-normal.svg);
}

#tech .gulp {
  background-image: url(images/gulp-normal.svg);
}

#tech .d-3 {
  background-image: url(images/d-3-normal.svg);
}

#tech .es-6:hover {
  background-image: url(images/es6_hover.svg);
}

#tech .jquery:hover {
  background-image: url(images/jquery_hover.svg);
}

#tech .mdl:hover {
  background-image: url(images/getmdl_hover.svg);
}

#tech .sass:hover {
  background-image: url(images/sass_hover.svg);
}

#tech .gulp:hover {
  background-image: url(images/gulp_hover.svg);
}

#tech .d-3:hover {
  background-image: url(images/d3_hover.svg);
}

#design {
  background-color: #333333;
  padding-bottom: 110px;
}

#design h2 {
  margin-bottom: 60px;
}

#design .container .mdl-grid {
  margin-top: 40px;
}

#design figcaption {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

#design figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #design .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #4285f4;
} */

#support {
  background-color: #4285f4;
  padding: 0;
}

#support h2 {
  font-weight: 300;
  font-size: 40px;
}

#support a {
  font-weight: bold;
}

#support .container>div {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 190px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#support .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#support iframe {
  transform: scale(1.3);
}

#contact {
  padding-bottom: 160px;
}

#contact .container form>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#contact .container form>div>* {
  margin-top: 40px;
}

#contact .container form>div div:nth-child(1), #contact .container form>div div:nth-child(2) {
  width: 47%;
}

#contact .container form>div div:nth-child(3) {
  width: 100%;
}

#contact button {
  margin-left: auto;
}
