@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

:root {
  --color-background: #333;
  --dodger-blue: #4285f4;
}

* {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.mdl-color-text--white a {
  color: white;
}

section {
  padding: 100px 0 100px 0;
  color: white;
}

section h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
}

section p {
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  text-align: justify;
}

.mdl-layout--small-screen-only {
  display: none !important;
}

.mdl-card {
  background: #434343;
  color: #fff;
  padding: 20px;
}

.mdl-card__supporting-text,
.mdl-card__title {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.mdl-card__title {
  display: flex;
  padding: 0;
}


.mdl-card__title-text {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  align-self: center;
}


.mdl-layout__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.mdl-layout__title::before {
  content: 'CreativeIT Dashboard';
}

.mdl-layout__header {
  position: absolute;
  padding: 60px 80px 0 80px;
}

.mdl-layout__header-row {
  padding: 0;
  height: auto;
}

.mdl-layout__content {
  width: 100%;
}

.mdl-mini-footer {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 80px 20px 80px;
  font-size: 18px;
}

.mdl-mini-footer .mdl-logo {
  line-height: normal;
}

.mdl-textfield__input {
  border-color: #ccc;
}

.mdl-textfield__label {
  color: #999;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container-wide {
  max-width: 1200px;
}

.outlined {
  border: 1px solid;
  border-radius: 2px;
}

.outlined:hover {
  background-color: white;
  color: black;
}

.accent {
  font-weight: 500;
}

h1 .accent {
  font-weight: inherit;
}

.filled-accent {
  background-color: #4285f4;
  color: white;
}

button.filled-accent:hover {
  background-color: #4285f4;
}

.mdl-layout__header-row .mdl-navigation {
  height: auto;
}

.mdl-navigation .mdl-navigation__link {
  padding: 0 24px;
  opacity: 1;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.jumbotron {
  color: white;
  background-image: url('images/space landscape_blue_2560 x 1440.png');
  background-size: cover;
  background-position: top;
  display: flex;
  flex-wrap: wrap;
  /* height: 418px; */
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 235px;
  padding-bottom: 240px;
  position: relative;
}

.jumbotron h1 {
  font-size: 54px;
  line-height: 72px;
  letter-spacing: 5px;
  font-weight: bold;
  /* font-family: Roboto; */
  text-transform: uppercase;
}

.jumbotron-image {
  background-image: url(images/group-2.png);
  width: 601px;
  height: 418px;
}

.jumbotron::after {
  position: absolute;
  content: "";
  width: 120%;
  height: 80px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: var(--color-background);
  bottom: -60px;
}

.jumbotron-caption {
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jumbotron-caption .accent {
  color: var(--dodger-blue);
}

.demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.demo span {
  font-size: 18px;
}

.demo button {
  text-transform: uppercase;
}

#concept .parallax {
  background-image: url(images/dashboard_page_empty.png);
  background-size: contain;
  position: relative;
  margin-top: 40px;
}

#concept .parallax-hidden {
  visibility: hidden;
  width: 100%;
}

#concept .parallax-overlay {
  position: absolute;
  top: 5.8%;
  right: 0;
  bottom: 0;
  left: 12.5%;
  padding: 1%;
  overflow-y: hidden;
}

#concept .parallax-layer {
  width: 100%;
}

#concept h2 {
  margin-top: 100px;
  margin-bottom: 60px;
}

#review {
  background-color: var(--dodger-blue);
}

#review .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#review h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .2);
  font-size: 30px;
  font-weight: 500;
}

#review blockquote {
  margin: 0;
  text-align: center;
}

#review blockquote p {
  font-size: 30px;
  line-height: 58px;
  font-style: normal;
  text-align: center;
}

#review blockquote::before {
  font-size: 12em;
  color: rgba(0, 0, 0, .2);
  line-height: 0.8em;
  left: -.75em;
}

#review blockquote::after {
  font-size: 12em;
  color: rgba(0, 0, 0, .2);
  line-height: 0.8em;
  position: absolute;
  margin: 0;
  top: 0;
  right: -.45em;
}

#review .author {
  width: 500px;
  display: inline-block;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: normal;
  font-size: 16px;
}

#review .author .name {
  display: block;
}

.technolagies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.technolagies > div {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.technolagies > div > div {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon.angular {
  background-image: url(images/angular-normal.svg);
}

.icon.angular:hover {
  background-image: url(images/angular-hover.svg);
}

.icon.docker {
  background-image: url(images/docker-normal.svg);
}

.icon.docker:hover {
  background-image: url(images/docker-hover.svg);
}

.icon.aws {
  background-image: url(images/aws-normal.svg);
}

.icon.aws:hover {
  background-image: url(images/aws-hover.svg);
}

.icon.node {
  background-image: url(images/node-normal.svg);
}

.icon.node:hover {
  background-image: url(images/node-hover.svg);
}

.icon.aggrid {
  background-image: url(images/aggrid-normal.svg);
}

.icon.aggrid:hover {
  background-image: url(images/aggrid-hover.svg);
}

.icon.html {
  background-image: url(images/html-normal.svg);
}

.icon.html:hover {
  background-image: url(images/html-hover.svg);
}

.icon.d-3 {
  background-image: url(images/d-3-normal.svg);
}

.icon.d-3:hover {
  background-image: url(images/d3_hover.svg);
}

.icon.sass {
  background-image: url(images/sass-normal.svg);
}

.icon.sass:hover {
  background-image: url(images/sass_hover.svg);
}

section#tech {
  padding-top: 0;
}

#tech .mdl-grid {
  margin: -1rem;
}

#tech .mdl-card__supporting-text {
  opacity: 0.7;
  font-style: italic;
  padding: 1rem 0;
}

#tech .material-icons-outlined {
  color: #4285f4;
  font-size: 36px;
  margin-right: 1rem;
}

#design {
  background-color: #333333;
  padding-bottom: 110px;
}

#design h2 {
  margin-bottom: 60px;
}

#design .container .mdl-grid {
  margin-top: 40px;
}

#design figcaption {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

#design figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#design img {
  clip-path: circle(79px);
}

#design ul {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.7;
}
/* #design .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #4285f4;
} */

#bundles .mdl-card {
  width: 100%;
  position: relative;
  margin: 1rem 0;
}

#bundles .mdl-card__supporting-text {
  display: flex;
  width: 100%;
}

#bundles .icon {
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
}

#bundles .mdl-card__title {
  margin: 0 1.5rem;
}

#bundles .mdl-card__title-text {
  font-size: 24px;
  margin-left: 1.5rem;
}

#bundles .desciption {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#bundles .button--github i {
  width: 23px;
  height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z' /%3E%3C/svg%3E");
}

#bundles .price {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 1rem;
  padding: 1rem 1rem 1rem 0;
}

#bundles .desciption .buy {
  margin-top: 2rem;
}

#bundles .mdl-cell.buy {
  display: none;
}

#bundles .features {
  width: 250px;
  min-width: 250px;
  border-left: 1px solid #979797;
  padding-left: 3rem;
  color: #f5f5f5;
}

#bundles .features .title {
  text-transform: uppercase;
  color: #f5f5f5;
}

#bundles .features li {
  margin: 0.5rem 0;
  line-height: 1.5;
}

#proved {
  background: #7d7d7d;
}

#proved h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
}

#proved .items {
  display: flex;
  height: 90px;
}

#proved .producthunt img {
  width: 400px;
  height: 90px;
}

#proved .items > * {
  margin-right: 1rem; 
}

#proved .clutch-widget {
  background: #424143;
  padding: 22px 0 0 1rem;
  border-radius: 1rem;
  margin: 2px 0;
}

#proved .uplabs {
  display: block;
  position: relative;
  width: 300px;
  height: 90px;
  background: url('./images/uplabs.svg') no-repeat center;
  background-size: contain;
}

#support {
  background-color: #4285f4;
  padding: 0;
}

#support h2 {
  font-weight: 300;
  font-size: 40px;
}

#support a {
  font-weight: bold;
}

#support .container>div {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 190px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#support .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#support iframe {
  transform: scale(1.3);
}

#contact {
  padding-bottom: 160px;
}

#contact .container form>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#contact .container form>div>* {
  margin-top: 40px;
}

#contact .container form>div div:nth-child(1), #contact .container form>div div:nth-child(2) {
  width: 47%;
}

#contact .container form>div div:nth-child(3) {
  width: 100%;
}

#contact button {
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .container-wide {
    max-width: 940px;
  }

  .mdl-layout__header {
    display: flex;
  }

  .mdl-layout--large-screen-only { 
    display: none;
  }

  .mdl-layout__title {
    font-size: 20px;
    max-width: 150px;
  }

  .mdl-layout__header {
    padding: 20px 20px 0;
  }

  .mdl-navigation .mdl-navigation__link {
    font-size: 16px;
    padding: 8px 15px;
    line-height: 16px;
  }

  .container {
    padding-right: 1rem;
    padding-left:  1rem;
  }

  .mdl-layout__title {
    font-size: 36px;
  }

  .mdl-navigation .mdl-navigation__link {
    font-size: 20px;
    padding: 12px 30px;
    line-height: 20px;
  }

  .jumbotron {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .jumbotron-image {
    background-image: url(images/laptop+dashboard_2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 444px;
  }

  #review blockquote {
    max-width: 580px;
  }

  #review blockquote p {
    font-size: 26px;
    line-height: 48px;
    padding: 0 1rem;
  }

  #tech {
    padding-top: 230px;
  }

  #contact button {
    font-size: 22px;
    line-height: 0;
    padding: 30px;
  }

  #proved .items {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  #proved .items > * {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .mdl-layout__title {
    font-size: 20px;
    max-width: 150px;
  }

  .mdl-layout__header {
    padding: 20px 20px 0;
  }

  .mdl-navigation .mdl-navigation__link {
    font-size: 16px;
    padding: 8px 15px;
    line-height: 16px;
  }

  .demo span {
    font-size: 24px;
    line-height: 1.42;
    letter-spacing: 1.6px;
    margin: 20px;
  }

  .demo button {
    font-size: 22px;
    padding: 30px 46px;
    line-height: 0;
  }

  #tech .container>div>div {
    width: 100%;
  }

  #bundles .mdl-card__supporting-text {
    flex-direction: column;
  }

  #bundles .features {
    width: auto;
    border-top: 1px solid #979797;
    padding-left: 0;
    border-left: none;
    padding-top: 1.5rem;
  }

  #bundles .mdl-card__supporting-text {
    padding: 1rem 0 0;
  }

  #bundles .desciption .buy {
    display: none;
  }

  #bundles .mdl-cell.buy {
    display: block;
    margin-bottom: 0;
  }

  #bundles .mdl-list {
    margin-top: 0;
    padding-top: 0; 
    list-style: square outside;
    margin-left: 1rem;
  }

  .mdl-mini-footer {
    padding: 0 20px 20px;
  }

  .mdl-layout--large-screen-only {
    display: none;
  }

  .mdl-layout--small-screen-only {
    display: block;
  }

  .jumbotron-image {
    display: none;
  }

  .jumbotron {
    padding: 120px 20px 120px;
    width: auto;
  }

  .jumbotron h1 {
    font-size: 36px;
    line-height: 46px;
  }

  .jumbotron .demo button {
    font-size: 18px;
    padding: 20px 40px;
    line-height: 0;
  }

  .jumbotron .demo span {
    font-size: 18px;
    margin: 20px 0;
  }

  .jumbotron-caption {
    width: auto;
  }

  .jumbotron span.mdl-button__ripple-container {
    margin: 0;
  }

  #review blockquote,
  #review .author {
    max-width: 100vw;
  }
}
